body {
    background-color: white;
    color: black;
    height: 100%;
    margin: 0;
  }
  
  .outer-container {
    background-color: white;
    min-height: calc(100vh - 30px);
    margin-top: 30px;
    justify-content: center;
  }

  .list-container {
    background-color: white;
    min-height: calc(100vh - 30px);
    margin-top: 30px;
    justify-content: center;
  }
  
  h1, h2 {
    color: black;
  }